# Bazaar Keystore and Key Passwords
# Copy this file to '.env' locally to load these secrets automatically during signing.
# DO NOT commit '.env' to your repository.
BAZAAR_KS_PASS=sth
BAZAAR_KEY_PASS=sth
